body {
    display: flex;
    flex-direction: column;
}
.button {
    display: flex;
    width: 70px;
    margin-bottom: 10px;
}

.hover {
    background-color: black;
}
.square {
    flex-basis: 6%;
}
#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}
