body {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    width: 70px;
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.square {
    flex-basis: 6%;
    background-color: beige;
}

.hover {
    background-color: black;
}